[user]
  email = ricardorbxx1@gmail.com
  name = ricardo

[core]
    pager = delta --side-by-side

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3

[init]
	defaultBranch = main
